<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand txtnav mr-5" href="#">
        <img src="https://i.imgur.com/GoRAqn0.png" width="120" height="45" title="source: imgur.com" />
    </a>

    <div class="collapse navbar-collapse " id="navbarTogglerDemo03">

        
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0 d-flex justify-content-center">


                <li class="nav-item">
                    <a class="navbar-brand p-3 txtnav " routerLink='/home'>HOME</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand p-3 txtnav ml-3 " routerLink='/planos'>PLANOS</a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand p-3 txtnav ml-3" routerLink='/sobre'>SOBRE</a>
                </li>
                
                <li class="nav-item">
                    <a class="navbar-brand p-3 txtnav ml-3 " routerLink='/contato'>CONTATO</a>
                </li>
                
                <div *ngIf='auth.admin()'>
                    <li class="nav-item">
                        <a class="navbar-brand p-3 txtnav ml-3 " routerLink='/admin'>ADMIN</a>
                    </li>
                </div>
            </ul>
        <div *ngIf='auth.btnLogin()'>            
            <button type="button" class="btn btn-outline-light" routerLink='/login'>LOGIN</button>
        </div>
        <div *ngIf='auth.btnSair()'>            
            <button type="button" class="btn btn-outline-light" routerLink='/login'(click)='sair()'>SAIR</button>
        </div>

        
        

    </div>

</nav>


