<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-12">
            <nav>
                <div class="nav nav-tabs mt-5" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Categorias</a>

                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Produtos</a>
                </div>
            </nav>
            <!-------------------------------------------CATEGORIA------------------------------------>
            <div class="tab-content mt-5" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row ">
                        <div class="col-md-12">
                            <h1 class="text-center">Cadastrar uma nova categoria</h1>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h4 class="">Preencha o Formulário</h4>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 d-flex jusitfy-content-center">
                            <input type="text" class="form-control mb-2 mr-2" id="descricao "placeholder="Digite aqui o nome" [(ngModel)]='categoria.tipo'>
                            <input type="text" class="form-control mb-2 mr-2" id="nome "placeholder="Digite aqui quantidade itens" [(ngModel)]='categoria.quantidade'>
                            <input type="text " class="form-control mb-2 mr-2" id="tema "placeholder="Digite aqui o valor" [(ngModel)]='categoria.valor'>
                        </div>
                    </div>
                            
                     
                    <button type="button" class="btn btn-outline-info w-25 mt-3"(click)='cadastrarCategoria()'>Cadastrar</button>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Preço</th>
                                        <th scope="col" class="d-flex justify-content-end">Modificações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let item of listaCategoria'>
                                        <th scope="row">{{item.tipo}}</th>
                                        <td>{{item.quantidade}}</td>
                                        <td>{{item.valor}}</td>
                                        <td class="d-flex justify-content-end">
                                            <a class="btn btn-outline-info mr-3"[routerLink]="['/editar-categoria', item.id]">Editar</a>
                                            <a class="btn btn-outline-danger"[routerLink]="['/del-categoria', item.id]">Apagar</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>



                </div>
                <!-------------------------------------PRODUTO--------------------------------------------->


                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">Cadastrar um novo produto</h1>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <h4 class="">Preencha o Formulário</h4>
                        </div>
                    </div>     <div class="row mt-3">
                        <div class="col-md-6 d-flex jusitfy-content-center">                       
                            
                            <input type="text" class="form-control mb-2 mr-2" id="nome "placeholder="Digite aqui o nome do produto" [(ngModel)]='produto.nome'>
                            <input type="text" class="form-control mb-2 mr-2" id="descricao "placeholder="Digite aqui a descrição" [(ngModel)]='produto.descricao'>
                            <input type="text " class="form-control mb-2 mr-2" id="tema "placeholder="Digite aqui o tema do produto" [(ngModel)]='produto.tema'>
                        </div>
                    </div>
                         
                    <button type="button" class="btn btn-outline-info w-25 mt-3"(click)='cadastrar()'>Cadastrar</button>
                    <hr> 
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Tema</th>
                                        <th scope="col" class="d-flex justify-content-end">Modificações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let item of listaProduto'>
                                        <th scope="row">{{item.nome}}</th>
                                        <td>{{item.descricao}}</td>
                                        <td>{{item.tema}}</td>
                                        <td class="d-flex justify-content-end">
                                            <a class="btn btn-outline-info mr-3" [routerLink]="['/editar-produto', item.id]">Editar</a>
                                            <a class="btn btn-outline-danger"[routerLink]="['/del-produto', item.id]">Apagar</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

<!--
<div class="row d-flex aling-items-center mt-5">
    <div class="col-md-6">
      <div class="form-group m-0">
      <label for="categoria">Escolha sua Box</label>
      <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria' (change) = 'findByIdCategoria()'>
      <option *ngFor='let item of listaCategoria' value={{item.id}} >
       {{item.tipo}}
      </option>
     </select>
     </div>
    </div>
  </div>
-->