<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-justify">
      <h1 class="text-center mt-5">Sobre Nós</h1>
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <p class="mt-3">
            Nós do Clube da Cultura visamos prestar um serviço de assinatura mensal, sendo este uma Box com
            produtos selecionados e artesanais que busca valorizar o pequeno produtor local e a
            cultura regional de diversas regiões do Brasil, como forma de diminuir o distanciamento
            cultural entre os mais diversos pontos do país.</p>
          <p>
            Nascemos com o propósito de contribuir com a redução da
            desigualdade social (apoio a produtores locais) e cultural presente em nosso país.
            Unindo produtores regionais à consumidores, proporcionando uma experiência única através
            da assinatura e recebimento de produtos exclusivos, como: camisetas, pinturas, artesanatos, pequenos
            mimos, alimentos e bebidas regionais, sendo cada mês uma região diferente do país, respeitando
            a cultura alimentar e a identidade de cada localidade.</p>
          <p>
            Ou seja, muito mais que produtos exclusivos e de identidade, o Clube da Cultura é um
            convite para um consumo mais imersivo, regionalizado e Brasileiro. </p>

        </div>
      </div>     
    </div>
  </div>


  <!--integrantes-->

  <h2 class="text-center font-weight-bold"><strong>Conheça nossa equipe</strong></h2>
  <div class="container mt-4 mb-5 absolute-center">
    <div class="row col-lg-12">

      <div class="grupo">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3 mb-2 mt-3 p-0">
            <h4 class="name text-center">Maurício Guilherme</h4>
            <p> Atuou na construção de API back-end e na criação e estlização de componentes front-end. </p>
            <p><strong>Tech Lead <br>Desenvolvedor Full Stack</strong></p>
            <p><strong>mauriciogrs95@gmail.com</strong></p>
          </div>
          <div class="col-lg-2 mb-5 mt-3 mr-5">
            <img style=" max-width: 150px" src="https://i.imgur.com/N9P0DTF.jpg" class="rounded " alt="Foto do desenv. Maurício">
          </div>
         
          <div class="col-lg-3  mb-2 mt-3 p-0">
            <h4 class="name text-center">Joelma M. Takeuchi</h4>
            <p>Atuou na construção de API back-end e na criação e estlização de componentes front-end.  </p>
            <p><strong>Desenvolvedora Full Stack</strong></p>
            <p><strong>joelma.takeuchi@gmail.com</strong></p>
          </div>
          <div class="col-lg-2 mb-5 mt-3">
            <img style="max-width: 150px" src="https://i.imgur.com/JAkPahx.jpg" class="rounded" alt="Foto da desenv. Joelma">
          </div>
        </div>
      </div>

      <div class="grupo">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3  mb-5 mt-3">
            <h4 class="name text-center">Willians Carrion</h4>
            <p>Atuou na construção de API back-end e na criação e estlização de componentes front-end.</p>
            <p><strong>Desenvolvedor Full Stack</strong></p>
            <p><strong>willianscarrion@gmail.com</strong></p>
          </div>
          <div class="col-lg-2 mb-5 mt-3 mr-5">
            <img style="max-width: 160px" src="https://i.imgur.com/hLbpa6b.jpg" class="rounded" alt="Foto do Desenvolvedor Willians">
          </div>
          <div class="col-lg-3  mb-5 mt-3">
            <h4 class="name text-center">Hellen Albuquerque</h4>
            <p>Atuou na construção de API back-end e na criação e estlização de componentes front-end.  </p>
            <p><strong>Desenvolvedora Full Stack</strong></p>
            <p><strong>hellenn.albuu@gmail.com</strong></p>
          </div>
          <div class="col-lg-2 mb-5 mt-3">
            <img style="max-width: 150px" src="https://i.imgur.com/qx3Umcu.jpg" class="rounded" alt="Foto da Desenvolvedora Hellen">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
