<div class="bg1">


  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Finalize sua Assinatura</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body">

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  <div class="md-form ">
                    <input type="text" id="firstName" class="form-control">
                    <label for="firstName" class="">Nome</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  <div class="md-form">
                    <input type="text" id="lastName" class="form-control">
                    <label for="lastName" class="">Sobrenome</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

            <!--email-->
              <div class="md-form mb-3">
                <input type="text" id="email" class="form-control" placeholder="seuemail@example.com">
                <label for="email" class="">Email (optional)</label>
              </div>

              <!--address-->
              <div class="md-form mb-3">
                <input type="text" id="address" class="form-control" placeholder="1234 Av. Brasil">
                <label for="address" class="">Endereço</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-2">

                  <div class="md-form mb-1">
                    <input type="text" id="estado-cidade" class="form-control" placeholder="SP-São Paulo">
                    <label for="Estado-Cidade" class="">Estado-Cidade</label>
                  </div>

                </div>
                <!--Grid column-->


              </div>
              <!--Grid row-->

              <hr>

              <div class="custom-control custom-checkbox mt-0">
                <input type="checkbox" class="custom-control-input" id="same-address">
                <label class="custom-control-label" for="same-address">O endereço de entrega é igual ao meu endereço de cobrança</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info"> Salvar esta informação para a próxima vez</label>
              </div>

              <hr>

              <div class="d-block my-3">
                <div class="custom-control custom-radio bg">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Crédito</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit">Débito</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">Paypal</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Nome no cartão</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-muted">Nome completo no cartão</small>
                  <div class="invalid-feedback">
                    Nome no cartão pedido
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Número do cartão</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Vencimento</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary mb-5 btn-lg btn-block border-warning bg-warning" routerLink='/home' type="submit" (click)='finalizar()'>Finalizar</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Box Selecionada</span>
            <span class="badge badge-secondary badge-pill">1</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{categoria.tipo}}</h6>
                <small class="text-muted">Caixa com {{categoria.quantidade}} itens</small>
              </div>
              <span class="text-muted">R$ {{categoria.valor}}</span>
            </li>
                       
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (R$)</span>
              <strong>R$ {{categoria.valor}}</strong>
            </li>
          </ul>
          <!-- Cart -->

        
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
</div>
