<div class="bg1">
    <div class="img-wrapper">
        <img class="img-responsive" src="https://i.imgur.com/j3O1oR2.jpg">
        <div class="img-overlay">

            <button class="btn btn-responsive btn-outline-warning p-3 font-weight-bold shadow p-3 mb-5 rounded btn-wte
            "  routerLink='/planos'>Seja membro do clube</button>
        </div>
    </div>

   
        
            <div class="row text-center mt-5 w-100 ">
                <div class="col-md-12">
                    <h1>
                        Viaje sem sair de casa
                    </h1>
                </div>
            </div>
        
        <!--CARDS-->
        <div class="container-fluid bg-style p-0 w-100 cards-responsive">
            <div class="container">

            <div class="card-group mt-5 ">

                <!--GIF-->
                <div class="card border-0 bg-style">
                    <img src="https://i.imgur.com/GOemksj.gif" class="card-img-top w-70 h-70" alt="...">
                    <div class="card-body ">

                    </div>
                </div>
                <!--/GIF-->
                <!--LUPA-->
                <div class="card border-0 bg-style ">
                    <img src="https://i.imgur.com/3s4QSnD.png" class=" card-img-top w-50 mx-auto d-block mt-5 "
                        alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center font-weight-bold">Curadoria</h5>
                        <p class="card-text text-center">Nossa equipe curiosa e apaixonada pela cultura regional percorre o país em busca de itens típicos e artesanais para oferecer uma experiência única.</p>
                    </div>
                </div>
                <!--/LUPA-->

                <!--BOX-->
                <div class="card border-0 bg-style">
                    <img src="https://i.imgur.com/qunCnKK.png" class="card-img-top w-50 h-70 mx-auto d-block mt-5"
                        alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center font-weight-bold">Seleção</h5>
                        <p class="card-text text-center">Selecionamos os melhores e mais imersivos artigos de cada região do Brasil e disponibilizamos Boxes contendo de 4 a 6 itens exclusivos para você</p>
                    </div>
                </div>
                <!--/BOX-->
                <!--CASA-->
                <div class="card border-0 bg-style">
                    <img src="https://i.imgur.com/pjQoHEw.png" class="card-img-top w-50 h-70 mx-auto d-block mt-5 "
                        alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center font-weight-bold">Entrega</h5>
                        <p class="card-text text-center"> Assine e receba sua box no conforto de seu lar, com itens exclusivos e de qualidade comprovada. Frete grátis para todo o Brasil!
                        </p>
                    </div>
                </div>
                <!--/CASA-->
            </div>
        </div>
        </div>
        <!--/container cards-->
        <!--/CARDS-->
        <!--ITENS BOX-->
        <div class="container w-100">
            <div>
                <div class="row text-center mt-5 w-100 ">
                    <div class="col-md-12">
                        <h1>
                            Itens exclusivos das nossas caixas
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container mt-5 d-flex justify-content-center ">
                <div class="row ">
                    <div class="col-md-8 ">

                        <img class="img-responsive imagem4 " src="https://i.imgur.com/BdzdMQy.jpg">
                        
                    </div>
                    <div class="col-md-4 ">

                        <ul style="list-style-type:disc text-dark font-weight-bold mb-4 align-self-center">
                            <li >Camisetas</li>
                            <li>Artesanatos</li>
                            <li>Pinturas</li>
                            <li>Quadros</li>
                            <li>Comidas típicas</li>
                            <li>Bebidas Típicas</li>
                            <li>e diversos mimos</li>
                
                          </ul>
                        
                    </div>
                </div>
                </div>
                <!--/ITENS BOX-->
                <hr class="mt-5">
                <!--PROXIMO TEMA-->
                <div class="container w-100">
                    <div>
                        <div class="row text-center mt-5 w-100 ">
                            <div class="col-md-12">
                                <h1>
                                    Próximo Tema
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-5 pb-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10 ">

                                <img class="img-responsive imagem4" src="https://i.imgur.com/7bhSvrV.jpg">

                            </div>
                        </div>

                    </div>
                </div>

                <!--div container-->